<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    

    <style>
        body{
      margin: 0;
      padding: 0:
    }


      
           table {
      border-collapse: collapse;
      width: 100%;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    .table-header {
      background-color: #04AA6D;
      color: white;
      width: 20vw;
    }
    {{>mynavcss}}
    
    </style>
</head>
<body>
 
   {{# if user }}
	{{>mynavmarket username=user }}
 {{else }}
	{{>mynavmarketlogin }}
{{/if}}

   {{!-- <nav class="mynav" style="background-color: black;">

            <div class="navbar-brand"><img src="/images/mylogo.png" alt="" style="      height: 4rem;
    margin-top: -14px;

        "><span style="color:white;font-family:serif;    margin-top: -4px;">AgroIndia</span></div>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-top: 0;padding:0;">
                <li class="nav-item">
                    <a style="color:white" class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" href="/news">Agro News</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" href="/tools">Agro Tools</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" href="/marketprices">Market Price</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" class="nav-link" href="/fertilizer-predict">Fertilizer Prediction</a>
                </li>


            </ul>

        </nav> --}}


    <div aria-disabled="true" class="w3-container " style="margin: 2em 1em;">


        <table class="w3-table w3-striped">

          <tr class="header">
            <th class='table-header' style="text-align: center;margin-left: 10px; border-top-left-radius: 8px;">DATE</th>
            <th class='table-header' style="text-align: center;">COMMODITY TRADED</th>
            <th class='table-header' style="text-align: center;">COMMODITY ARRIVALS</th>
            <th class='table-header' style="text-align: center;">MIN PRICE </th>
            <th class='table-header' style="text-align: center; border-top-right-radius: 8px;">MAX PRICE (RS./QUINTAL) </th>
          </tr>


          {{#each myprice}}
          <tr>
            <td class="" style="text-align: center;margin-left: 10px;">{{this.PRICE_DATE}}</td>
            <td class="" style="text-align: center;">{{this.COMMODITY_TRADED}}</td>
            <td class="" style="text-align: center;">{{this.COMMODITY_ARRIVALS}}</td>
            <td class="" style="text-align: center;">{{this.MIN_PRICE}}</td>
            <td class="" style="text-align: center;">{{this.MAX_PRICE}}</td>
          </tr>
          {{/each}}
          
        </table>
      </div> 
      <script>
      const kiran = ()=>{
        document.getElementById("abc").innerHTML=null;
      }
    </script>
      
</body>
</html>





